extends ../layout
block links
  link(rel="alternate", type="application/rss+xml", title="Breaking News", href="/rss/BreakingNews.xml")

block content
  //- img(src="/images/Scripps_Family_Frist_Logo_FINAL.png")
  h1 Create RSS item
  p.lead 

    form.col-sm-10.well.form(name="add-item", method="post")

        input(type='hidden', name='_csrf', value=token)
        div.form-group.col-sm-6
            label Catalog *
            select.form-control(type="select", name="feed")

              for feed in feeds
                option #{feed.display}
              else
                option no feeds found. 
              //- option Breaking News
              //- option Shared
              //- option Enterprise
              //- option The Now
            //- input.form-control(type="text", name="feed")
        div.form-group.col-sm-6
            label Station *
            input.form-control(type="text", name="station", placeholder="XXXX")
        div.form-group.col-sm-12
            label Title *
            input.form-control(type="text", name="title")
        div.form-group.col-sm-12
            label Description/Script *
            textarea.form-control(name="description", cols="40", rows="5")
        div.form-group.col-sm-6
            label Reporter
            input.form-control(type="text", name="reporter")
        div.form-group.col-sm-6
            label Location
            input.form-control(type="text", name="location")
        div.form-group.col-sm-12
            label Source
            select.form-control(type="select", name="source", id="source-select")
              option TVU Grid
              option Hotchannel
              option MasterCat
              option Satellite Downlink
        div.form-group.col-sm-12.collapse(id="downlink-fields").bg-warning
          div.form-group.col-sm-6
            label Satellite
            input.form-control(type="text", name="satellite", value="")
          div.form-group.col-sm-6
            label Channel/Freq
            input.form-control(type="text", name="channel", value="")
          div.form-group.col-sm-6
            label Polarity
            select.form-control(type="select", name="polarity")
              option 
              option V
              option H
          div.form-group.col-sm-6
            label FEC
            input.form-control(type="text", name="fec", value="")
          div.form-group.col-sm-6
            label Symbol Rate
            input.form-control(type="text", name="symbol", value="")
          div.form-group.col-sm-6
            label Data Rate
            input.form-control(type="text", name="datarate", value="")
          div.form-group.col-sm-6
            label Window Times
            input.form-control(type="text", name="window", value="")
          div.form-group.col-sm-6
            label Troubleshooting Number
            input.form-control(type="text", name="troubleNumber", value="")
        div.form-group.col-sm-6
            label Time
            input.form-control(type="text", id="time", name="time", value="")
        div.form-group.col-sm-6
            label Timezone
            input.form-control(type="text", id="tz", name="tz", value="")
        div.form-group.col-sm-6
            label Format
            select.form-control(type="select", name="format")
              option 
              option VO
              option VO/SOT
              option PKG
              option RAW
              option LIVE
        div.form-group.col-sm-6
            label TRT
            input.form-control(type="text", name="trt", value="")
        div.form-group.hidden.col-sm-12
            label Expires
            input.form-control(type="text", name="expires", value="2")
            small (days)
        div.form-group.col-sm-12
            label
              |Link 
              small (optional)
            input.form-control(type="text", name="link", placeholder="http://example.com/video?id=33")
      div.form-group.col-sm-12.file-upload
          label File
          div#dropArea
            div#dropZone Drop File Here or
              input.form-control#browseFile(type="file", name="uploadFile")
          div#dropProgress
        div.form-group.col-sm-12
        div.form-group.col-sm-12
            input.btn.btn-primary(type="submit", value="Submit")
            h2#submitMessage Please leave this window open. Once file is done uploading, the form will submit. 