extends layout
block links
  link(rel="alternate", type="application/rss+xml", title="Breaking News", href="/rss/BreakingNews.xml")

block content
  h1 EW Scripps CatDV RSS feeds
  p.lead 
    a(href='/rss/BreakingNews') Breaking News