extends layout
block links
block content
  p.lead MasterCat Bridge
  hr
  form.col-sm-10.well.form(name="add-item", method="post")
      
      div.form-group.col-sm-6
          label Catalog *
          select.form-control(type="select", name="feed")

            for catalog in catalogs
              option #{catalog.name}
            else
              option no feeds found. 
            //- option Breaking News
            //- option Shared
            //- option Enterprise
            //- option The Now
          //- input.form-control(type="text", name="feed")
      div.form-group.col-sm-6
          label Station *
          input.form-control(type="text", name="station", placeholder="XXXX")
      div.form-group.col-sm-12
          label Title *
          input.form-control(type="text", name="title")
      div.form-group.col-sm-12
          label Description/Script *
          textarea.form-control(name="description", cols="40", rows="5")
      div.form-group.col-sm-6
          label Reporter
          input.form-control(type="text", name="reporter")
      div.form-group.col-sm-6
          label Location
          input.form-control(type="text", name="location")
      div.form-group.col-sm-12
          label File
          div#dropArea
            div#dropZone Drop File Here or
              input.form-control#browseFile(type="file", name="uploadFile")
          div#dropProgress
            //- div#curtain DROP
      div.form-group.col-sm-12
      div.form-group.col-sm-12
          input.btn.btn-primary(type="submit", value="Submit")
          h2#submitMessage Please leave this window open. Once file is done uploading, the form will submit. 
            
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src='/js/resumable.js')
  script(src='/js/resumeForm.js')