@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/default";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  /*padding-top: 110px;*/
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    //font-weight: 500;
    //line-height: 1.1;
    //color: inherit;
  }
// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}
 .navbar-brand {
    padding-top:15px !important; 
    padding-bottom:15px !important;
    height: 100px;
}

.navbar-brand h1{
 padding: 0;
 margin: 0;
 height: 100%;
}
.navbar-brand img{
 height: 100%;
}

.navbar-nav > li > a {
  margin: 1px;
    /*padding-top:40px !important; 
    padding-bottom:40px !important;*/
    /*height: 100px;*/
}
.navbar {min-height:100px !important;}

.nav li.active a {
  margin: 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

.form-inline{
  display: inline;
}

.btn-link {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.btn-red {
color: red;
}

#curtain{
  position: absolute;
  background-color: #05f5f5;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
#curtain.resumable-dragover{
  display: none;
  display: block;
}
#dataForm{
  background-color: #e5e5e5;
}
#dropArea{
  width: 100%;
  height: 150px;
  padding: 10px;
}
#dropArea.resumable-dragover #dropZone{
  background-color: #a5a5a5;
  border: 2px solid #444;
}
#dropZone{
  background-color: #d5d5d5;
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 40px;
  height: 100%;
  text-align: center;
  font: 21pt bold arial;
  color: #444;

  white-space:nowrap;
  overflow: hidden;
}

#dropProgressDiv{
  display: none;
  position: relative;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
}

#dropProgress{
  padding: 0;
  margin: 0;
  background-color: #050505;
  height: 100%;
  width: 0%;
  z-index: 8;
  /*display: none;*/
}
#progressNum{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: gray;
  z-index: 9;
}

#submitMessage{
  display: none;
}

#browseFile{
  background-color: transparent;
  display: inline;
  width: 300px;
}

#file-upload{
  display: none;
}

.parsley-error{
  border: 1px solid red;
  background-color: #ffcccc;
}

.btn-red{
  float: right;
}

.list-unstyled li:nth-child(odd){
  background-color: #ddd;
}


// Metrics
// -------------------------
.metrics{

}

.list-striped li:nth-child(odd) {
  background: #f5f5f5;
}

#sidebar{
  position: fixed;
  left: 15px;
  top: 150px;
}